.fonts {
  
  @font-face {
    font-family: FreightBig Pro;  
    src: url('/assets/fonts/FreightBigLight.otf');  
    font-weight: normal;  
  }
  
  @font-face {
    font-family: ProximaNova-Light;  
    src: url('/assets/fonts/proxima-nova-light-597044e43d8a9.otf');  
    font-weight: normal;  
  }
  
  @font-face {
    font-family: ProximaNovaSemibold;  
    src: url('/assets/fonts/proxima-nova-semibold-5970450b56bed.otf');  
    font-weight: normal;  
  }
  
}